body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4;
  padding: 100px 0;
}

a {
  background-color: #eee;
  border-radius: 3px;
  color: #222;
  text-decoration: none;

  display: block;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  width: 120px;
}


